* {
  margin: 0%;
  border: 0;
  padding: 0%;
  outline: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: antiquewhite;
  text-decoration: none;
}
body {
  width: 100vw;
  background-color: black;
}
header {
  display: flex;
  background-color: rgb(46, 46, 46);
  color: antiquewhite;
  align-items: center;
  border: 1px solid black;
  padding: 10px 20%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: sticky;
  top: 0;
  z-index: 99;
  opacity: 95%;
}
.ul-header {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}
.ul-header > li {
  flex-direction: row;
  align-content: center;
  text-decoration: none;
  font-size: 20px;
}
.ul-header img {
  height: 90px;
  border-radius: 50%;
  border: 2px solid #dfc025;
  margin: auto 10px;
}
.texto1>.opac {
     position: absolute;
  background-color: #000;
  height: 750px;
  width: 100%;
  top: 0;
  opacity: 35%;
}
.texto1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/shop+inside+\(1\).jpg);
  height: 750px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 20px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.texto1 > h1  {
 margin-bottom: 20px;
  font-size: 100px; 
  text-align: center;
  color: #EFE5BE;
  z-index: 1;
}
.texto1 > a {
    z-index: 1;
    font-size: 60px;
    border: 5px solid #EFE5BE;
    color: #EFE5BE;
    padding: 5px;
    border-radius: 10px;
}
.texto2 {
    margin-top: 40px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.texto2> img {
    width: 40px;
        margin-bottom: 20px;
}
.texto2 span {
    color: #e0c43b;
}
.texto2>h2 {
    color: #EFE5BE;
        margin-bottom: 10px;
}
.todos {
    margin-top: 40px;
    display: flex;
    border: 2px solid white;
     width:920px;
     align-items: flex-start;
     margin-left: 40px;
}
.bor {
 border: 2px solid white; 
 border-left: none;
}
.pessoa {
    margin-top: 20px;
    gap: 10px; 
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    flex-direction: row;
    text-align: left;
}
.pessoa> h3 {
    height: 20px;
}
.pessoa> i {
    height: 24px;
    border: 1px solid wheat;
    color: white;
}
.pessoa>img {
    height: 30px;   

}
.bor>p {
    text-align: left, end;
    width:689px;
}
.mulher-img {
    height: 300px;
    margin-right: 20px;
    
}